h1 {
  text-align: center;
}

ul {
  text-align: center;
}

li {
  color: white;
}

form {
  padding: 2em;
  display: flex;
  flex-direction: column;
  width: 100px;
  text-align: auto;
  margin: auto;
}
